$primary: #352641;
$secondary: #342540;
$deep: #241332;
$light-primary: #8a56ac;
$light-purple:#998FA2;
$white: #fff;
$black:#000000;
$black-CC:#000000CC;
$gray: #717171;
$gray-100: #00000029;
$gray-200: #00000066;
$gray-300:#9599B3


